{% extends "base.html" %}

{% block content %}
    <div class="col-md-8">

    <h1 class="my-4">Новости и статьи блога
        <small>Только самые интересные новости</small>
    </h1>

    <!-- Blog Post -->
    {% for category in categories %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title"><a href="{% url "post_by_category_url" slug=category.slug %}">{{ category.name }}</a></a></h2>
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
