{% extends "base.html" %}
{#{% load category_tag %}#}
{% load mptt_tags %}
{% block content %}
    <div class="col-md-8">

        <h1 class="my-4">Новости и статьи блога<br/>
            <small style="font-size: 50%;">Только самые интересные новости</small>
        </h1>
    {% if categories %}
        <ul class="root">
            {% recursetree categories %}
                <li>
                    {{ node.name }}
                    {% if not node.is_leaf_node %}
                       <ul class="children">
                            {{ children }}
                        </ul>
                    {% endif %}
                </li>
            {% endrecursetree %}
        </ul>
    {% endif %}
        <!-- Blog Post -->
        {% for post in posts %}
            <div class="card mb-4">
                <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                <div class="card-body">
                    <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                    </h2>
                    <p class="card-text">{{ post.text }}</p>
                    <a href="{{ post.get_absolute_url }}" class="btn btn-primary">Подробнее &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    Опубликовано {{ post.pub_date }} Категория:
                    <a href="#">{{ post.category }}</a>
                </div>
            </div>
        {% endfor %}


    </div>
{% endblock %}
