{% extends "base.html" %}

{% block content %}
    <div class="col-md-8">

    <h1 class="my-4">Новости и статьи блога
        <small>Только самые интересные новости</small>
    </h1>

    <!-- Blog Post -->
    {% for post in posts %}
        <div class="card mb-4">
            <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
            <div class="card-body">
                <h2 class="card-title"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
                <p class="card-text">{{ post.text }}</p>
                <a href="#" class="btn btn-primary">Подробнее &rarr;</a>
            </div>
            <div class="card-footer text-muted">
                Posted on {{ post.pub_date }} category
{#                <a href="#">{{ post.category }}</a>#}
            </div>
        </div>
    {% endfor %}

    </div>
{% endblock %}
