{% extends "base.html" %}
{% load category_tag %}
{% block content %}
    <!-- Post Content Column -->
    <div class="col-lg-8">

        <!-- Title -->
        <h1 class="mt-4">{{ post.title }}</h1>

        <!-- Author -->
        <p class="lead">
            Категория:
            <a href="{% url "post_by_category_url" slug=post.category.slug %}">{{ post.category }}</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Опубликовано {{ post.pub_date }}</p>

        <hr>

        <!-- Preview Image -->
        <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">

        <hr>

        <!-- Post Content -->
        <p class="lead">{{ post.text }}</p>


        <hr>

        <!-- Comments Form -->
        <div class="card my-4">
            <h5 class="card-header">Оставьте свой комментарий</h5>
            <div class="card-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <textarea
                                class="form-control" rows="3"
                                required placeholder="Оставьте здесь свой комментарий" name="comment">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить комментарий</button>
                </form>
            </div>
        </div>

        <!-- Comments -->
        {% for comment in post.get_comments %}
            <div class="media mb-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                    <h5 class="mt-0">Пользователь</h5>
                    {{ comment.text }}
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}
